<% include partials/header %>

    <div class="jumbotron">
        <h1>Find your next campground</h1>
        <p><a class="button btn-primary btn-lg" href="/campgrounds">View the campgrounds</a></p>
    </div>

<% include partials/footer %>